@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap");

body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  /* scroll-behavior: smooth; */
  /* font-family: 'Poppins', sans-serif;  */
}

:root {
  /* global hsl colors */
  --primary-clr: hsl(1, 97%, 64%);
  --primary-clr-h: 1;
  --primary-clr-s: 97%;
  --primary-clr-l: 64%;
  --cyan-clr: hsl(164, 92%, 48%);
  --cyan-clr-h: 164;
  --cyan-clr-s: 92%;
  --cyan-clr-l: 48%;
  --purple-clr: hsl(264, 92%, 70%);
  --purple-clr-h: 264;
  --purple-clr-s: 92%;
  --purple-clr-l: 70%;
  --gray-clr: #a2a2a2;
  --light-clr: #fff;
  --dark-clr: #242424;
/* global font size */
  --fs-xxsm : 12px;
  --fs-xsm : 14px;
  --fs-sm : 16px;
  --fs-med : 18px;
  --fs-l : 22px;
  --fs-xl : 40px;
  --fs-xxl : 60px;
}

.text-orange {
  color: hsl(var(--primary-clr-h), var(--primary-clr-s), var(--primary-clr-l));
}

/* section padding start */
.pb-80 {
  padding-bottom: 80px;
}

.pt-120 {
  padding-top: 120px;
}
.pb-150 {
  padding-bottom: 150px;
}

.pt-150 {
  padding-top: 150px;
}
/* section padding end  */

.video-container + p {
  margin-top: 40px;

}
.video-link {
  color: hsl(var(--primary-clr-h), var(--primary-clr-s), var(--primary-clr-l));
  transition:all 0.3s;
  cursor: pointer;
}
.video-link:hover {
  color: hsl(var(--primary-clr-h), var(--primary-clr-s), var(--primary-clr-l));
  text-decoration: none;
}

/* back-to-top start */
#back-top.active-back-top {
  position: fixed;
  inset: auto 2% 4% auto;
  font-size:  var(--fs-med);
  width: 50px;
  height: 50px;
  background-color: hsl(var(--primary-clr-h), var(--primary-clr-s), var(--primary-clr-l));
  color: var(--light-clr);
  padding: 14px 0;
  cursor: pointer;
  z-index: 99;
  opacity: 1;
  display: block;
  
}


#back-top {
  display: none;
  opacity: 0;
}
/* back-to-top end */


h1,
h5 {
  font-weight: 600 !important;
  font-family: "Poppins", sans-serif;
}

p:not([class]),
.author {
  font-size:  var(--fs-sm);
  color: var(--gray-clr);
  font-family: "Poppins", sans-serif;
}

h4 {
  font-size:  var(--fs-xl);
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.page-icon-group .icnImg[data-icon="iconImgI"] {
  top: -26px;
  left: 50%;
  margin-left: -652px;
  transform: translateX(-50%);
  width: 102px;
  height: 122px;
}

.page-icon-group .icnImg[data-icon="iconImgII"] {
  left: 60%;
  top: 10%;
  width: 24px;
  height: 24px;
  transform: translateX(-50%);
}
.page-icon-group .icnImg[data-icon="iconImgVI"] {
  left: 40%;
  bottom: 0;
    transform: translateX(-50%);
    width: 79px;
    height: 95px;
}



.page-icon-group .icnImg[data-icon="iconImgIII"] {
    top: 10%;
    right: 0;
    width: 78px;
    height: 79px;
    transform: translateX(-50%);
}

.page-icon-group .icnImg[data-icon="iconImgV"]  {
  width: 40px;
  height: 40px;
  bottom: 20%;
  right: 0;
  transform: translateX(-50%);
}
.page-icon-group .icnImg[data-icon="iconImgIV"]  {
  width: 40px;
  height: 40px;
  bottom: 20%;
  left: 0;
  transform: translateX(-50%);
}
/* hero section start  */
header {
  background: url(../img/wave-haikei.png) no-repeat center top/cover;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}


.contact-btn {
  font-family: "Poppins", sans-serif;
  padding: 5px 10px;
  font-size:  var(--fs-xxsm);
  color: hsl(var(--primary-clr-h), var(--primary-clr-s), var(--primary-clr-l));
  border: 1px dashed hsl(var(--primary-clr-h), var(--primary-clr-s), var(--primary-clr-l));
  border-radius: 5px;
  color: hsl(var(--primary-clr-h), var(--primary-clr-s), var(--primary-clr-l));
  letter-spacing: 1px;
}
.contact-btn:hover {
  color: var(--light-clr);
  background-color: hsl(var(--primary-clr-h), var(--primary-clr-s), var(--primary-clr-l));
}

.image-container {
  max-width: 571px;
}

/* play video icon start */
.play-video {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 25px;
  background-color: hsl(var(--primary-clr-h), var(--primary-clr-s), var(--primary-clr-l));
  position: relative;
  transition: all 0.36s;
  display: inline-block;
  border: 1px solid hsl(var(--primary-clr-h), var(--primary-clr-s), var(--primary-clr-l));
  z-index: 1;
}
.play-video:hover {
  background-color: var(--light-clr);
}
.play-video:hover .play-icon {
  border-color: transparent transparent transparent hsl(var(--primary-clr-h), var(--primary-clr-s), var(--primary-clr-l));
}
.play-video::before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  bottom: 0;
  z-index: -1;
  border: 6px solid hsl(var(--primary-clr-h), var(--primary-clr-s), var(--primary-clr-l));
  position: absolute;
  animation: hvr-ripple-out 0.6s infinite;
}
@keyframes hvr-ripple-out {
  100% {
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    opacity: 0;
  }
}
.play-icon {
  width: 0;
  height: 0;
  border-width: 6px 0px 6px 10px;
  border-style: solid;
  border-color: transparent transparent transparent var(--light-clr);
  transition: border-color 0.35s ease;
  display: block;
  text-align: center;
}

.play-text {
  font-size:  var(--fs-xsm);
  font-weight: 600;
  color: hsl(var(--primary-clr-h), var(--primary-clr-s), var(--primary-clr-l));
}
/* play video icon end */

/* hero section end  */

/* service card start */
.service-card:nth-child(odd) {
  margin-top: 2.5rem;
}

.card-border {
  position: relative;
}
.card-border:hover:after,
.card-border:hover:before {
  transform: scale(1);

  opacity: 1;
}

.card-border:after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  bottom: 0;
  transform: scale(0);
  transition: all 0.35s ease;
  left: 0;
}
.card-border:before {
  content: "HOT";
  position: absolute;
  height: 20px;
  width: 50px;
  inset: 5% 5% auto auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-clr);
  font-size:  var(--fs-xxsm);
  font-weight: 600;
  background-color: hsl(var(--primary-clr-h), var(--primary-clr-s), var(--primary-clr-l));
  opacity: 0;
  transition: all 0.5s ease;
}

.card-border[data-border="card-1"]:after {
  background-color: hsl(var(--primary-clr-h), var(--primary-clr-s), var(--primary-clr-l));
}
.card-border[data-border="card-2"]:after {
  background-color: hsl(var(--cyan-clr-h), var(--cyan-clr-s), var(--cyan-clr-l));
}
.card-border[data-border="card-3"]:after {
  background-color: hsl(var(--purple-clr-h), var(--purple-clr-s), var(--purple-clr-l));
}
.card-border[data-border="card-4"]:after {
  background-color: #ff930d;
}

/* service card end */

/* video section start */
.svgBg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* video section end */


/* pricing card start */

.pricing-card-border {
  border-width: 1px;
  border-style: dashed;
}

.pricing-card-border[data-pri-border="pri-card-1"] {
  border-color: hsl(var(--primary-clr-h), var(--primary-clr-s), var(--primary-clr-l));
  background-color: hsl(var(--primary-clr-h), var(--primary-clr-s), 99%);
}
.pricing-card-border[data-pri-border="pri-card-2"] {
  border-color: hsl(var(--cyan-clr-h), var(--cyan-clr-s), var(--cyan-clr-l));
  background-color: hsl(var(--cyan-clr-h), var(--cyan-clr-s), 99%);
}
.pricing-card-border[data-pri-border="pri-card-3"] {
  border-color: hsl(var(--purple-clr-h), var(--purple-clr-s), var(--purple-clr-l));
  background-color: hsl(var(--purple-clr-h), var(--purple-clr-s),  99%);
}
.price-card-btn {
  border-radius: 50px;
  width: 200px;
  font-size:  var(--fs-xsm);
  transition: all 0.2s;
}

.price-card-btn[data-bg-btn="pri-btn-1"] {
  background-color: hsl(var(--primary-clr-h), var(--primary-clr-s), var(--primary-clr-l));
}
.price-card-btn[data-bg-btn="pri-btn-2"] {
  background-color: hsl(var(--cyan-clr-h), var(--cyan-clr-s), var(--cyan-clr-l));
}
.price-card-btn[data-bg-btn="pri-btn-3"] {
  background-color: hsl(var(--purple-clr-h), var(--purple-clr-s), var(--purple-clr-l));
}
.price-card-btn:hover[data-bg-btn="pri-btn-1"] {
  --primary-clr-l: 60%;
}
.price-card-btn:hover[data-bg-btn="pri-btn-2"] {
  --cyan-clr-l: 45%;
}
.price-card-btn:hover[data-bg-btn="pri-btn-3"] {
  --purple-clr-l: 60%;
}

.decimal-price {
  top: -32px;
  font-size:  var(--fs-l);
  line-height: 24px;
  left: -15px;
}

.voucher-price {
  font-size:  var(--fs-xxl);
  line-height: 62px;
}

.currency {
  font-size:  var(--fs-l);
  line-height: 24px;
  right: -6px;
  bottom: -15px;
}

.voucher-price[data-pri-price="pri-price-1"] {
  color: hsl(var(--primary-clr-h), var(--primary-clr-s), var(--primary-clr-l));
}
.voucher-price[data-pri-price="pri-price-2"] {
  color: hsl(var(--cyan-clr-h), var(--cyan-clr-s), var(--cyan-clr-l));
}
.voucher-price[data-pri-price="pri-price-3"] {
  color: hsl(var(--purple-clr-h), var(--purple-clr-s), var(--purple-clr-l));
}

/* pricing card end */

/* carousel start */
.bg-carousel {
  background: url(../img/img13.jpg) no-repeat center center/cover;
}

.carousel-img {
  height: 120px;
  width: 120px;
  position: relative;
}

.carousel-img:after {
  content: "\f10d";
  font-family: fontawesome;
  color: var(--light-clr);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 2% 2% auto auto;
  width: 35px;
  height: 35px;
  background: hsl(var(--primary-clr-h), var(--primary-clr-s), var(--primary-clr-l));
  border-radius: 50%;
  z-index: 1;
}

/* carousel end */
/* contactus start */
.contact-banner {
  background: url(../img/img22.png) no-repeat center center/cover;
}
/* contactus end */

/* footer start */
.footer-bg {
  background: hsla(var(--primary-clr-h), var(--primary-clr-l), var(--primary-clr-l), 0.05);
  background-image: url(../img/ovel2.png);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 220px, auto, contain;
}

.footer-text {
  color: var(--gray-clr);
  font-size:  var(--fs-med);
  font-weight: 600;
}
.footer-links {
color: var(--gray-clr);
text-decoration: none;
font-size:  var(--fs-med);
transition: all 0.2s;
font-weight: 600;
}
.footer-links:hover {
color: hsl(var(--primary-clr-h), var(--primary-clr-s), var(--primary-clr-l));

}

.circleGradient {
  width: 300px;
  height: 300px;
  background: linear-gradient(to bottom, hsla(var(--primary-clr-h), var(--primary-clr-l), var(--primary-clr-l), 0.3) 10%, hsla(0, 0%, 100%, 0) 55%);
  z-index: -1;
}
.circleGradient[data-circle="circleI"] {
  transform: rotate(28deg);
  top: 80px;
  right: 180px;
  background: linear-gradient(to bottom, hsla(var(--primary-clr-h), var(--primary-clr-l), var(--primary-clr-l), 0.2) 0%, hsla(0, 0%, 100%, 0) 70%);
}
.circleGradient[data-circle="circleII"] {
  background: linear-gradient(to bottom, hsla(var(--primary-clr-h), var(--primary-clr-l), var(--primary-clr-l), 0.2) 0%, hsla(0, 0%, 100%, 0) 70%);
  top: 90px;
  right: 80px;
  transform: rotate(-40deg);
}

/* footer end */
.menu-item {
  color: var(--dark-clr-clr) !important;
  transition: all 0.3s;
}
.menu-item:hover,
.active-item-links {
  color: hsl(var(--primary-clr-h), var(--primary-clr-s), var(--primary-clr-l))!important;
}


.fixed-nav {
position: fixed;
top: 0;
right: 0;
left: 0;
background-color: var(--light-clr);
z-index: 999;
padding: 15px 20px !important;
box-shadow: 5px 5px 10px #999;
transition: all 0.3s;
}

