@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap");

body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  /* font-family: 'Poppins', sans-serif;  */
}

:root {
  --primary-clr: hsl(1, 97%, 64%);
  --gray-clr: #a2a2a2;
  --light-clr: #fff;
}

.text-orange {
  color: var(--primary-clr);
}

#back-top {
  position: fixed;
  inset: auto 2% 4% auto;
  font-size: 18px;
  width: 50px;
  height: 50px;
  background-color: var(--primary-clr);
  color: var(--light-clr);
  padding: 14px 0;
  cursor: pointer;
  z-index: 99;
}

/* section padding start */
.pb-50 {
  padding-bottom: 80px;
}

.pt-200 {
  padding-top: 120px;
}
/* section padding end  */

h1,
h5 {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

p:not([class]),
.author {
  font-size: 16px;
  color: var(--gray-clr);
  font-family: "Poppins", sans-serif;
}

h4 {
  font-size: 40px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

/* hero section start  */
header {
  background: url(../img/wave-haikei.png) no-repeat center top/cover;
  min-height: 100vh;
  position: relative;
}
.hero-col-one,
.hero-col-two {
  position: relative;
}
.hero-col-one::before {
  content: "";
  background: url(../img/icon6.png) no-repeat;
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
}
.hero-col-two::before {
  content: "";
  background: url(../img/icon2.png) no-repeat;
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 10%;
}
.hero-col-two::after {
  content: "";
  background: url(../img/icon3.png) no-repeat;
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 1;
  top: 10%;
  right: 0;
}
.hero-section::before {
  content: "";
  background: url(../img/icon1.png) no-repeat;
  width: 150px;
  height: 150px;
  position: absolute;
  z-index: 1;
  top: 20%;
  left: -40px;
}
.hero-section::after {
  content: "";
  background: url(../img/icon5.png) no-repeat;
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 1;
  bottom: 20%;
  right: 0px;
}

.contact-btn {
  font-family: "Poppins", sans-serif;
  padding: 5px 10px;
  font-size: 12px;
  color: var(--primary-clr);
  border: 1px dashed var(--primary-clr);
  border-radius: 5px;
  color: var(--primary-clr);
  letter-spacing: 1px;
}
.contact-btn:hover {
  color: var(--light-clr);
  background-color: var(--primary-clr);
}

.image-container {
  max-width: 571px;
}

/* play video icon start */
.play-video {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 25px;
  background-color: var(--primary-clr);
  position: relative;
  transition: all 0.36s;
  display: inline-block;
  border: 1px solid var(--primary-clr);
}
.play-video:hover {
  background-color: var(--light-clr);
}
.play-video:hover .play-icon {
  border-color: transparent transparent transparent var(--primary-clr);
}
.play-video::before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  bottom: 0;
  z-index: -1;
  border: 6px solid var(--primary-clr);
  position: absolute;
  animation: hvr-ripple-out 0.6s infinite;
}
@keyframes hvr-ripple-out {
  100% {
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    opacity: 0;
  }
}
.play-icon {
  width: 0;
  height: 0;
  border-width: 6px 0px 6px 10px;
  border-style: solid;
  border-color: transparent transparent transparent var(--light-clr);
  transition: border-color 0.35s ease;
  display: block;
  text-align: center;
}

.play-text {
  font-size: 14px;
  font-weight: 600;
  color: var(--primary-clr);
}
/* play video icon end */

/* hero section end  */

/* service card start */
.service-card:nth-child(odd) {
  margin-top: 2.5rem;
}

.card-border {
  position: relative;
}
.card-border:hover:after,
.card-border:hover:before {
  transform: scale(1);

  opacity: 1;
}

.card-border:after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  bottom: 0;
  transform: scale(0);
  transition: all 0.35s ease;
  left: 0;
}
.card-border:before {
  content: "HOT";
  position: absolute;
  height: 20px;
  width: 50px;
  inset: 5% 5% auto auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-clr);
  font-size: 12px;
  font-weight: 600;
  background-color: var(--primary-clr);
  opacity: 0;
  transition: all 0.5s ease;
}

.card-border[data-border="card-1"]:after {
  background-color: var(--primary-clr);
}
.card-border[data-border="card-2"]:after {
  background-color: #0aecaf;
}
.card-border[data-border="card-3"]:after {
  background-color: #a36af9;
}
.card-border[data-border="card-4"]:after {
  background-color: #ff930d;
}

/* service card end */

/* video section start */
.svgBg {
  position: absolute;
  top: 0;
  left: 0;
  /* right: 0; */
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* video section end */

.pricing-card-border {
  border-width: 1px;
  border-style: dashed;
}

.pricing-card-border[data-pri-border="pri-card-1"] {
  border-color: var(--primary-clr);
  background-color: hsl(1, 97%, 99%);
}
.pricing-card-border[data-pri-border="pri-card-2"] {
  border-color: hsl(164, 92%, 48%);
  background-color: hsl(164, 92%, 99%);
}
.pricing-card-border[data-pri-border="pri-card-3"] {
  border-color: hsl(264, 92%, 70%);
  background-color: hsl(264, 92%, 99%);
}
.price-card-btn {
  border-radius: 50px;
  width: 200px;
  font-size: 14px;
  transition: all 0.2s;
}

.price-card-btn[data-bg-btn="pri-btn-1"] {
  background-color: var(--primary-clr);
}
.price-card-btn[data-bg-btn="pri-btn-2"] {
  background-color: hsl(164, 92%, 48%);
}
.price-card-btn[data-bg-btn="pri-btn-3"] {
  background-color: hsl(264, 92%, 70%);
}
.price-card-btn:hover[data-bg-btn="pri-btn-1"] {
  background-color: hsl(1, 97%, 60%);
}
.price-card-btn:hover[data-bg-btn="pri-btn-2"] {
  background-color: hsl(164, 92%, 45%);
}
.price-card-btn:hover[data-bg-btn="pri-btn-3"] {
  background-color: hsl(264, 92%, 60%);
}

.decimal-price {
  top: -32px;
  font-size: 22px;
  line-height: 24px;
  left: -15px;
}

.voucher-price {
  font-size: 60px;
  line-height: 62px;
}

.currency {
  font-size: 22px;
  line-height: 24px;
  right: -6px;
  bottom: -15px;
}

.voucher-price[data-pri-price="pri-price-1"] {
  color: hsl(1, 97%, 60%);
}
.voucher-price[data-pri-price="pri-price-2"] {
  color: hsl(164, 92%, 45%);
}
.voucher-price[data-pri-price="pri-price-3"] {
  color: hsl(264, 92%, 60%);
}

.bg-carousel {
  background: url(../img/img13.jpg) no-repeat center center/cover;
}

.carousel-img {
  height: 120px;
  width: 120px;
  position: relative;
}

.carousel-img:after {
  content: "\f10d";
  font-family: fontawesome;
  color: var(--light-clr);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 2% 2% auto auto;
  width: 35px;
  height: 35px;
  background: var(--primary-clr);
  border-radius: 50%;
  z-index: 1;
}
.contact-banner {
  background: url(../img/img22.png) no-repeat center center/cover;
}
